/**
 * *********************
 * 完整的页面结构
 * *********************
 */
.app .doc-right > .btm > .con {
    position: relative;
}

.app .doc-right > .btm > .con > * {
    margin-bottom: 20px;
}

.app .doc-right > .btm > .con > *:nth-last-of-type(1) {
    margin-bottom: 0;
}

.app .doc-right > .btm > .con > .page {
    text-align: center;
}

/**
 * ***************
 * 列表表单搜索框
 * ***************
 */
.app .doc-right > .btm > .con > .search {

}

.app .doc-right > .btm > .con > .search > .line {
    margin-bottom: 12px;
}