{extend name='Public::public' /}

{block name='link'}
<link rel="stylesheet" href="{$plugin_url}/css/table/line.css?version={$version}">
<link rel="stylesheet" href="{$plugin_url}/css/form/filter.css?version={$version}">
<link rel="stylesheet" href="{$pub_url}/css/list.css?version={$version}">
<link rel="stylesheet" href="{$act_url}/css/list.css?version={$version}">
{/block}

{block name='con'}
<div class="list">
    <div class="component-title">
        <div class="left">数据列表</div>
        <div class="right">
            <a>添加</a>
        </div>
    </div>
    <table class="line-tb">
        <thead>
        <tr>
            <th class="th-cbox"><input type="checkbox" @click="selectedAllEvent"></th>
            <th class="th-id">id</th>
            <th class="th-name">名称</th>
            <th class="th-number">权重</th>
            <th class="th-time">创建时间</th>
            <th class="th-opr">操作</th>
        </tr>
        </thead>
        <tbody ref="tbody">
        <tr v-for='v in data.data' :data-id="v.id" @click="selectedLineEvent" class="tr">
            <td><input type="checkbox" class="c-box"></td>
            <td>{{ v.id }}</td>
            <td>{{ v.name }}</td>
            <td>{{ v.weight }}</td>
            <td>{{ v.create_time }}</td>
            <td>
                <a class="btn-1" :href="genUrl('Role' , 'editView' , {id: v.id})">编辑</a>
                <button type="button" class="btn-1" @click="delEvent(v.id)">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="function">
    <span class="text">全局操作：</span>
    <button type="button" class="btn-1" @click="delSelectedEvent">删除选中项</button>
</div>
<div class="page">
    <Page :total="data.total" size="small" show-elevator show-total />
</div>
{/block}

{block name='script'}
<script src="{$act_url}/js/list.js?version={$version}"></script>
{/block}